
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@300;600;800&display=swap');

*{
    margin: 0px;
    padding: 10px;
}

body {
    
    box-sizing: border-box;
    background-color: #f6f6f6;
    color: #000000;
    align-items: center;
}

html {
      scroll-behavior: smooth; 
    }

#teste {
    color: #000000;
}

.container {
    padding: 5% 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.container__conteudo {
    display: flex;
    justify-content: space-between;
    gap: 0px;

    

}

.container__conteudo__content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.container__conteudo__content__texto {
width: 500px;

}

.container__conteudo__titulo {
    font-size: 2.25rem;
    font-family:'Montserrat', sans-serif;
    font-weight: 800;
}

.container__conteudo__texto {
    font-size: 1.125rem;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
}


.container__conteudo__links {
   display: flex;
   justify-content: space-between;
   
}

.container__conteudo__links__visual {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: #f6f6f6;
    width: 400px;
    text-align: center;
    border-radius: 16px;
    border: 2px solid #f6f6f6;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding: 16px 0px;
    align-items: center;
}

.container__conteudo__links__visual:hover {
    background-color: #ffffff;

}

.container__imagem {

    width: 50%;
}

.designs {
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.designs__conteudo {
    display: flex;
    align-content: space-between;
    gap: 45px;

}

.designs__conteudo__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 0px;

}

.designs__conteudo__links {
    display: flex;
   justify-content: space-between;
   flex-direction: column;
   box-sizing: border-box;

}

.designs__conteudo__links__visual {
    display: flex;
    justify-content: center;
    gap: 550px;
    background-color: #f6f6f6;
    width: 100%; 
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    padding: 30px 0px;
    align-items: center;
    
}

.designs__conteudo__links__visual__imagem {
border-radius: 16px;

}

.designs__conteudo__links__visual__textos {
display: flex;
flex-direction: column;
justify-content: left;

}

.rodape {
    font-family:'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: black;
    background-color: #f6f6f6;
    padding: 0px;
    gap: 950px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #f6f6f6;
}


.cabecalho {
    position: fixed;
    padding: 0% 0%;
    background-color: #f6f6f6;
    width: 100%;
    top: 0;
    z-index: 1000;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    
}

.rodape__container__conteudo__links {
    display: flex;
    gap: 1px;
    align-items: center;

}

@media (max-width: 480px) {

    *{
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
    }

    /* HEADER */
    .cabecalho {
        padding: 10px 0;
    }

    .cabecalho__menu {
        gap: 40px;
        justify-content: center;
        padding: 10px 0;
    }

    .cabecalho__menu__link {
        font-size: 14px;
        padding: 0;
    }

    /* SESSÃO SOBRE MIM */
    .container {
        padding-top: 100px;
    }

    .container__conteudo {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .container__conteudo__content__texto {
        width: 90%;
        padding: 23px;
       
    
    }

    .container__conteudo__titulo {
        font-size: 28px;
    }

    .container__conteudo__texto {
        font-size: 16px;
    
    }

    /* LINKS SOBRE MIM */
    .container__conteudo__links {
        flex-direction: column;
        gap: 12px;
        width: 100%;
        align-items: center;
        padding: 30px 0px;
    }

    .container__conteudo__links__visual {
        width: 13%;
        font-size: 16px;
        gap: 10px;
        padding: 12px 0;
        background-color: #f6f6f6;
    }

    /* IMAGEM SOBRE MIM */
    #sobre img {
        width: 50%;
    }

    /* SESSÃO DESIGNS */
    .designs__conteudo {
        gap: 20px;
        justify-content: center;
    }

    .designs__conteudo__links__visual {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        width: 100%;
    }

    .designs__conteudo__links__visual__imagem {
        width: 90%;
        height: auto;
    }

    .designs__conteudo__links__visual__textos p {
        font-size: 14px;
    }

    /* RODAPÉ */
    .rodape {
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;
        text-align: center;
    }

    .rodape__container__conteudo__links {
        gap: 10px;
    }

    .rodape__container__conteudo__links img {
        width: 28px;
    }
}